
<html>

<body>

</body>
<div>
    <form action="http://127.0.0.1:8080/todo/add" method="post">
        <label for="task">Task:</label><br>
        <input type="text" id="task" name="task" size="50"><br>
        <input type="submit" value="Submit">
      </form>
</div>

</html>