<html>

<body>

</body>
<div>
   Sign up! Or <a href='/user/signin'>sign in</a>
</div>
<form action="http://127.0.0.1:8080/user/signup" method="post">
   <label for="userId">First name:</label>
   <input type="text" id="userId" name="userId"><br>
   <label for="password">Password:</label>
   <input type="text" id="password" name="password"><br><br>
   <input type="submit" value="Submit">
</form>

</html>