<html>

<body>

</body>
<div>
</div>
<form name="signInForm" action="/user/signin" method="post">
    User:<input name="userId" id="userId" /><br />
    Password:<input name="password" id="password" /><br />
    <input type="submit" value="Sign in" />
</form>

</html>